* {
  margin: 0;
  padding: 0;
}
.blur {
  filter: blur(5px);
  transition: filter 0.1s ease;
}
body {
  background: linear-gradient(rgb(4, 4, 171), rgb(101, 2, 144));
  height: auto;
  font-family: system-ui;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

header {
  padding: 20px;
}

header .logo {
  font-size: 30px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li {
  margin-right: 30px;
}

header ul li a {
  padding: 6px 15px;
  color: white;
}

header ul li a:hover,
.active {
  border-radius: 20px; /*3aa4an 7awaf el border ta5od curve*/
  background-color: rgb(255, 255, 255); /*lama agi a click 3ala 7aga man el navbar ya3mal white square 3al el kalma*/
  color: black; /*3a4an ana fo2 m5alia el kalam bal white w hia el square white fa el kalma mo4 htban fa 5altha hana black ma3 el white square*/
}

header ul li a:hover {
  background-color: rgba(255, 255, 255, 0.637);
}

header ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}

header ul li a:hover::after {
  width: 100%;
}

/* -----------------  Buttons  --------------- */
.filter-btns {
  margin-top: 50px;
  text-align: center;
}

.filter-btns button {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 550;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.filter-btns button::after {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.filter-btns button.active::after {
  width: 100%;
}

/* CSS styles to hide boxes by default */
#box.hidden {
  display: none;
}

/* --------  Boxes ------------- */

#allBoxes {
  padding: 50px;
  margin-left: 15%;
  margin-right: 10%;
}

#box {
  width: 200px;
  height: 265px;
  background-color: white;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#box img {
  width: 150px;
  margin-top: 5px;
  margin-left: 20px;
  height: auto;
}

#box .content {
  padding: 10px;
  margin-top: 10px;
}

.menu {
  position: absolute;
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  padding: 5px;
  text-align: justify;
  margin-top: 154px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s linear 0.01s; /* Delay visibility change */
}

#box:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu span {
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  color: rgb(83, 11, 197);
}
